  .form_wrapper {
      background: rgb(242, 242, 242);
      width: 900px;
      max-width: 100%;
      box-sizing: border-box;
      padding: 25px;
      margin: 8% auto 0;
      border-top: 5px solid #162c42;
      box-shadow: 7px 6px 19px 0px rgba(0, 0, 0, 0.386);
      border-radius: 8px;
  }

  .form_wrapper h2 {
      font-size: 2em;
      line-height: 1.5em;
      margin: 0;
  }

  .form_wrapper .title_container {
      text-align: left;
      color: #162c42;
      margin-bottom: 40px;
  }

  .form_wrapper .row {
      margin: 0px -15px;
  }

  .form_wrapper .row>div {
      padding: 0 15px;
      box-sizing: border-box;
  }

  .form_wrapper .input_field {
      position: relative;
      margin-bottom: 20px;
  }

  .form_wrapper input[type=text],
  .form_wrapper input[type=email],
  .form_wrapper input[type=tel],
  .form_wrapper input[type=textarea],
  .form_wrapper input[type=password],
  .form_wrapper input[type=date] {
      width: 100%;
      padding: 8px 10px 9px 10px;
      height: 35px;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      outline: none;
      border-radius: 5px;
  }

  .form_wrapper input[type=text]:hover,
  .form_wrapper input[type=email]:hover,
  .form_wrapper input[type=tel]:hover,
  .form_wrapper input[type=password]:hover,
  .form_wrapper input[type=date]:hover,
  .form_wrapper input[type=textarea]:hover {
      background: #fafafa;
  }

  .form_wrapper input[type=text]:focus,
  .form_wrapper input[type=email]:focus,
  .form_wrapper input[type=tel]:focus,
  .form_wrapper input[type=textarea]:focus,
  .form_wrapper input[type=password]:focus,
  .form_wrapper input[type=date]:focus {
      box-shadow: 0 0 2px 1px rgba(68, 0, 255, 0.5);
      border: 1px solid #162c42;
      background: #fafafa;
  }

  .form_wrapper input[type=submit] {
      background: #162c42;
      height: 35px;
      line-height: 35px;
      width: 100%;
      border: none;
      outline: none;
      cursor: pointer;
      color: #fff;
      font-size: 1.1em;
      margin: 20px 0;
      border-radius: 5px;
  }

  .form_wrapper input[type=submit]:hover {
      background: #1b4065;
  }

  .form_wrapper input[type=submit]:focus {
      background: #1b4065;
  }