  .main-container {
    margin-top: 130px;
    min-height: 95vh;
  }

  .form_wrapper input[type=radio] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .form_wrapper label {
    font-size: 12px;
  }

  .form_wrapper .col_half {
    width: 50%;
    float: left;
  }

  .form_container {
    margin: 16px;
  }

  .radio_option label {
    margin-right: 1em;
  }

  .radio_option label:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    border-radius: 100%;
    vertical-align: -3px;
    border: 2px solid #cccccc;
    padding: 0.15em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
  }

  .radio_option input:hover+label:before {
    border-color: #162c42;
  }

  .radio_option input:checked+label:before {
    background-color: #162c42;
    border-color: #1b4065;
  }

  .signupImg {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .signupImg img {
    width: 350px;
  }

  .loginLink {
    margin-top: 10px;
    text-decoration: none;
    color: #1b4065;
    font-weight: 500;
  }